# Variables listed for reference
TMDB_API_KEY=your_tmdb_api_key
TMDB_ACCESS_TOKEN=your_tmdb_access_token
TMDB_RATE_LIMIT=40 # requests per 10 seconds

# Letterboxd API Credentials
LETTERBOXD_USERNAME=your_letterboxd_username
LETTERBOXD_USE_SCRAPING=false

# Streaming configuration
STREAMING_COUNTRY_CODE=your_country_code # NG
STREAMING_SERVICES=Netflix,ShowMax,Amazon Prime Video # comma-separated list

# Recommendation system configuration
REC_SEMANTIC_WEIGHT=0.7       # Weight for semantic similarity in recommendations (0-1)
REC_DETAILED_WEIGHT=0.3       # Weight for detailed features in recommendations - taste profile match(0-1)
REC_CHROMA_TOP_K=50           # Number of candidates / top similar items to consider from ChromaDB semantic search
REC_MIN_SCORE=0               # Minimum score threshold for recommendations

# Caching configuration
CACHE_TTL_SECONDS=86400  # Time-to-live for cache entries in seconds (default: 1 day)
CACHE_DB_PATH=./cache.sqlite  # Path to the SQLite database file for caching

# ChromaDB configuration
CHROMA_DB_HOST=localhost
CHROMA_DB_PORT=8000
CHROMA_DB_COLLECTION_NAME=movie_embeddings

# Hugging Face model configuration (optional)
HUGGINGFACE_USE_LOCAL_MODELS=false
HUGGINGFACE_MODEL_PATH=./.cache/transformers
HUGGINGFACE_MODEL_NAME="Xenova/all-MiniLM-L6-v2"

# SSH configuration (optional)
SSH_ENABLED=false
SSH_PORT=2222
SSH_HOST_KEY_PATH=./host_key